<div fxLayout="column">
    <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate autocomplete="off">
        <mat-form-field>
            <input matInput placeholder="First Name" type="text" name="firstName" [(ngModel)]="customer.firstName" #firstName="ngModel"
                required>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-hint *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)">
                <span *ngIf="firstName.errors.required">{{errorMessages.firstName.required}}</span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" type="text" name="lastName" [(ngModel)]="customer.lastName" #lastName="ngModel" required>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-hint *ngIf="lastName.invalid && (lastName.dirty ||lastName.touched)">
                <span *ngIf="lastName.errors.required">{{errorMessages.lastName.required}}</span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter Email" type="email" name="email" [(ngModel)]="customer.email" #email="ngModel" appEmailChecker
                required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint *ngIf="email.invalid && (email.dirty ||email.touched)">
                <span *ngIf="email.errors.required">{{errorMessages.email.required}}</span>
                <span *ngIf="email.errors.supportedDomain">{{errorMessages.email.supportedDomain}}</span>

            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone Number" type="text" name="phone" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"  [(ngModel)]="customer.phone" #phone="ngModel" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
                    <span *ngIf="phone.errors.pattern">{{errorMessages.phone.pattern}}</span>
                <span *ngIf="phone.errors.required">{{errorMessages.phone.required}}</span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="customer.password"
                #password="ngModel" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint *ngIf="password.invalid && (password.dirty ||password.touched)">
                <span *ngIf="password.errors.required">{{errorMessages.password.required}}</span>
            </mat-hint>
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="stretch" fxLayoutGap="10px">
        <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="!loggedIn ? register() : update()">
            {{action}}</button>
        <button mat-raised-button [disabled]="loading" color="primary" align="end"  (click) = "cancel()">Cancel</button>
    </div>
</div>