.searchIcon {
    margin-top: 15px;
}

.searchField {
    padding-bottom: 1%;
    padding-left: 9px;
}

.flexSpacing {
    margin-bottom: 3%
}

.mat-header-cell {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.mat-cell {
    text-align:center;
}
tr.mat-header-row {
    background-color: #3f51b5;
}

.mat-raised-button:hover {
    opacity: 0.5;
}