<div  *ngIf="noOrders"> 
  No orders exists
</div>
<div class="flexSpacing" fxLayout="row" fxLayoutAlign="center" *ngIf="!noOrders">
  <mat-form-field fxFlex="50%">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput class="searchField" (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<div class="flexSpacing" fxLayout="column" fxLayoutAlign="center center"  *ngIf="!noOrders">
  <table mat-table [dataSource]="customerOrders" class="col-md-8 col-xs-12">
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> OrderID </th>
      <td mat-cell *matCellDef="let order"> {{order.orderId}} </td>
    </ng-container>

    <ng-container matColumnDef="orderdDate">
      <th mat-header-cell *matHeaderCellDef> Ordered Date </th>
      <td mat-cell *matCellDef="let order"> {{order.orderedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="delieverdDate">
      <th mat-header-cell *matHeaderCellDef> Delivered Date </th>
      <td mat-cell *matCellDef="let order"> {{order.deliveredDate}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let order"> {{order.totalPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let order">
        <button mat-raised-button color="primary" (click)="getOrderDetails(order)">View Order</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="col-md-8 col-xs-12" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>