<div *ngIf="!cartProducts.length">
  No items in cart
</div>

<div fxLayout="column" fxLayoutAlign="center center"  *ngIf='cartProducts.length'>
  <table mat-table fxFlex [dataSource]="cartProducts" class="col-md-8 col-xs-12">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let product">
        <img [src]="product.productImage" class="img-thumbnail img-fluid" width="100px" height="100px"> {{product.productName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product">
        {{product.price}}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let product">
        <input type="number" name="quantity" min="1" max="10" (input)="addTotal()" [(ngModel)]="product.quantity">
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let product">
        <button mat-raised-button color="primary" (click)="removeFromCart(product)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf='cartProducts.length' fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="15px" fxLayoutAlign="center center" class="col-md-8 col-xs-12">
  <div fxflex  fxFlexAlign="start">SubTotal : {{total}}</div>
  <div fxflex fxFlexAlign="center">
    <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
  </div>
  <div fxflex fxFlexAlign="end">
    <button mat-raised-button color="primary" (click)="saveCart()">Save</button>
  </div>
</div>



<ng-template #confirmationDialog>
  <h2 mat-dialog-title>Place Order</h2>
  <mat-dialog-content>Are you sure to place order?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]="true">Yes</button>
  </mat-dialog-actions>
</ng-template>