a, li a {
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-icon {
    vertical-align: middle;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0px 5px;
}

.badge-light {
   border-radius: 50% 50%;
}
mat-toolbar {
    margin-bottom: 10px;
}