<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button #sidenavToggle mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a [routerLink]="['/home/dashboard']"> Home </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="25px" class="navigation-items">
            <li>
                <a [routerLink]="['profile']">Profile</a>
            </li>
            <li>
                <a [routerLink]="['order']">Orders</a>
            </li>
            <li>
                <mat-icon [routerLink]="['cart']">shopping_cart</mat-icon>
                <sup class="badge badge-light">{{cartProductsLength}}</sup>
            </li>
            <li>
                <span (click)='logout.emit()'>
                    <mat-icon>power_settings_new</mat-icon>
                </span>
            </li>
        </ul>
    </div>
</mat-toolbar>