<mat-card fxLayout="column" fxLayoutGap="10px" style="margin:10px">
    <img fxflex alt="Photo of a Shiba Inu" [src]="product.productImage">
    <mat-card-content>
        <div  fxLayout="row">
        <div fxFlex fxLayoutAlign="start">{{product.price|currency:'&#8377;'}}</div>
        <div fxFlex  fxLayoutAlign="end">
            <i class="material-icons" (click)="addToCart(product)"> add_shopping_cart </i>
        </div>
    </div>
        <div fxLayout="row">
            <div style="font-size:24px;color:blue">{{product.productName}}</div>
        </div>
    </mat-card-content>
</mat-card>
