<mat-nav-list>
    <a (click)="onSidenavClose()" style="float: right">
        <mat-icon> clear </mat-icon>
    </a>
    <a mat-list-item [routerLink]="['/home/dashboard']" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item [routerLink]="['profile']" (click)="onSidenavClose()">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-caption">Update Profile</span>
    </a>
    <a mat-list-item [routerLink]="['order']" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon>
        <span class="nav-caption"> View Orders</span>
    </a>
    <a mat-list-item [routerLink]="['cart']" (click)="onSidenavClose()">
        <sup class="badge badge-light">{{cartProductsLength}}</sup>
        <mat-icon> shopping_cart</mat-icon>
        <span class="nav-caption">View Cart</span>

    </a>
    <a mat-list-item>
        <mat-icon>power_settings_new</mat-icon>
        <span class="nav-caption" (click)='logout.emit()'>Logout</span>
    </a>
</mat-nav-list>