html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

.error {
    background-color: red;
    color: white;    
}

.error button {
    background-color:orangered;
    color: white;
}