<mat-expansion-panel expanded="true" hideToggle="true" class="row  col-sm-12 col-md-10   m-auto h-auto removePadding">
  <mat-panel-description fxLayout="column" fxLayoutAlign="space-between start">
    <div>ORDER PLACED : {{currentOrder.orderedDate}}</div>
    <div>TOTAL: {{currentOrder.totalPrice|currency:'&#8377;'}}</div>
    <div>SHIP TO</div>
    <div>ORDER # {{currentOrder.orderId}}</div>
  </mat-panel-description>
  <h1>Delivered: {{currentOrder.deliveredDate}}</h1>
  <div class="row" *ngFor="let product of currentOrder.products">
    <div class="col-sm-12 col-md-2">
      <img [src]="product.productImage" class="img-thumbnail">
    </div>
    <div class="col-sm-12 col-md-10">
      <div>{{product.productName}}</div>
      <div>{{product.price|currency:'&#8377;'}}</div>
    </div>
  </div>
</mat-expansion-panel>