<mat-sidenav-container>
    <app-header (sidenavToggle)="sidenav.toggle()" [cartProductsLength]='cartProductsLength' (logout)="logout()"></app-header>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav (sidenavClose)="sidenav.close()" [cartProductsLength]='cartProductsLength' (logout)="logout()"></app-sidenav>
      </mat-sidenav>
    <main>
      <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>
