<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Phone Number" type='text' name="phone" [(ngModel)]="customer.phone" #phone="ngModel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                            required>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-hint *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
                            <span *ngIf="phone.errors.pattern">{{errorMessages.phone.pattern}}</span>
                            <span *ngIf="phone.errors.required">{{errorMessages.phone.required}}</span>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="customer.password"
                            #password="ngModel" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-hint *ngIf="password.invalid && (password.dirty ||password.touched)">
                            <span *ngIf="password.errors.required">{{errorMessages.password.required}}</span>
                        </mat-hint>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button (click)="login()" [disabled]="phone.invalid || password.invalid" value="Login" class="login_btn">
                            <mat-icon>subdirectory_arrow_right</mat-icon>Login</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?
                    <a (click)="openRegisterForm()">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>