.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}
.card-footer, .card-header {
    background-color: #3f51b5;
}
.login_btn {
    color: black;
    background-color: #3f51b5;
    width: 100px;
    opacity: 0.9;
}

.login_btn:hover {
    color: black;
    background-color: white;
    
}

.card-body {
    border-color: #3f51b5;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.mat-form-field {
    display: contents;
}